# ==========================================
# CINE RIWI - VARIABLES DE ENTORNO
# ==========================================

# Puerto de la API
PORT=3000
NODE_ENV=development

# Configuración de PostgreSQL (Aplicación)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres123
DB_DATABASE=postgres
DB_SYNCHRONIZE=true

# Configuración de pgAdmin (Entorno Dev)
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@riwi.com
PGADMIN_DEFAULT_PASSWORD=admin1234

# Configuración JWT y Autenticación (HU-007)
JWT_SECRET=super_secret_jwt_key_riwi_cine_2026_change_in_production
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=super_secret_refresh_jwt_key_riwi_cine_2026_change_in_production
JWT_REFRESH_EXPIRES_IN=7d

# Configuración de SonarQube & Base de Datos
SONAR_PORT=9000
SONAR_DB_USER=sonar
SONAR_DB_PASSWORD=sonar123
SONAR_DB_NAME=sonar

# Configuración de Jenkins
JENKINS_PORT=8080
JENKINS_AGENT_PORT=50000
